
.background{
    background-color: peachpuff;
    color: palevioletred;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.orange{
    color:blanchedalmond;
    background-color: brown;
    text-align: center;
}

a{
    color: brown;
    text-decoration: none;
    

}

ul{
    text-align:left;
    list-style:decimal; 
}
/* hellaur */