
.background{
    background-color: black;
    color:bisque;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.orange{
    color:blanchedalmond;
    background-color: rgb(0, 34, 255);
    text-align: center;
}

a{
    color:powderblue;
    text-decoration: none;
    

}

ul{
    text-align:left;
    list-style:decimal; 
}
/* hellaur */